{
  "openapi": "3.0.1",
  "info": {
    "title": "Submittable API Documentation",
    "description": "\nThis page contains the documentation on how to use Submittable through API calls.\n\n### Breaking changes \n\n* All v3/requests and v3/responses endpoints merged into v4/entries endpoints\n    * Entries are a combination of both the request and response from v3\n* All endpoints returning a page now use a continuation token instead of page number and page size\n    * Endpoints no longer return a count of how many items there are\n    * Endpoints no longer return how many pages there are\n    * Filters and size are made on the first request only, subsequent requests can only use the continuation token returned on the response.\n* Get a submission now returns formEntries instead of formResponses\n    * formEntries does not contain the fieldData property\n        * To get a single entry use the \"Get an entry\" endpoint, /v4/entries/{entryId}\n        * To get all entries for a submission use the \"Get a submission’s entries\" endpoint, /v4/entries/submissions/{submissionId}\n* All submissionId properties are now guids instead of integers\n* All labelId properties are now guids instead of integers\n* LegacyProjects.Include and LegacyProjects.Exclude on /v3/submissions have been removed\n* Update project endpoint /v3/projects/{projectId} now updates everything for a project\n* v3/projects/stages endpoints are removed, now review stages are managed by the create and update project endpoints\n* Get a list of team members and their assignment counts /v3/organizations/team/assignments has been replaced by /v4/organizations/team to get team members and /v4/submissions/team/assignment to get their assignment counts\n\n\n### Authentication\n\nTo access the API, you must present an API Key provisioned for your organization.\n\nThe API Key is sent using a basic authentication header, with the API key as the username and a blank password.\nPlease ensure that the value is formatted as `{apiKey}`.\n\n```\nAuthorization: Basic {apiKey}\n```\n\n### Request Content Type\n\nAll endpoints, unless otherwise noted, accept and produce `application/json`.\nPlease ensure the `Content-Type` header for POST and PUT requests are set correctly.\n",
    "version": "v4",
    "x-logo": {
      "url": "https://d370dzetq30w6k.cloudfront.net/76c8a9e173f3b7f984b3ff6195d24aac.svg",
      "altText": "Submittable API Documentation"
    }
  },
  "servers": [
    {
      "url": "https://submittable-api.submittable.com"
    }
  ],
  "paths": {
    "/v4/forms/templates/payment": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Clone payment template",
        "responses": {
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormTemplateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/entries/editing/close": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Close entries for editing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEntriesIsOpenForEditingRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/entries/{entryId}/close": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Close editing",
        "parameters": [
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIsOpenForEditingRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/entries/request/filter/editing/close": {
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Close request form entries for editing by filter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequestFormIsOpenForEditingByFilterRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Updated"
          }
        }
      }
    },
    "/v4/entries/additional": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Create and send an additional form entry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAdditionalFormEntryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created additional form entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdditionalFormEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/forms": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Create a form",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/InitialFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/AdditionalFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ReferenceFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ReviewFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/InternalFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/EligibilityFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/RequestFormRequest"
                  }
                ],
                "discriminator": {
                  "propertyName": "formType",
                  "mapping": {
                    "initial": "#/components/schemas/InitialFormRequest",
                    "additional": "#/components/schemas/AdditionalFormRequest",
                    "reference": "#/components/schemas/ReferenceFormRequest",
                    "review": "#/components/schemas/ReviewFormRequest",
                    "internal": "#/components/schemas/InternalFormRequest",
                    "eligibility": "#/components/schemas/EligibilityFormRequest",
                    "request": "#/components/schemas/RequestFormRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created form",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InitialFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AdditionalFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReferenceFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EligibilityFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/InternalFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/RequestFormResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "formType",
                    "mapping": {
                      "initial": "#/components/schemas/InitialFormResponse",
                      "additional": "#/components/schemas/AdditionalFormResponse",
                      "reference": "#/components/schemas/ReferenceFormResponse",
                      "review": "#/components/schemas/ReviewFormResponse",
                      "eligibility": "#/components/schemas/EligibilityFormResponse",
                      "internal": "#/components/schemas/InternalFormResponse",
                      "request": "#/components/schemas/RequestFormResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a page of forms",
        "description": "The projectId filter only returns initial and additional forms that have received a response.",
        "parameters": [
          {
            "name": "continuationToken",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "style": "form",
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "type",
            "in": "query",
            "style": "form",
            "schema": {
              "enum": [
                "additional",
                "initial",
                "reference",
                "review",
                "internal",
                "eligibility",
                "request"
              ],
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContinuationTokenResponse_FormResponseV4"
                }
              }
            }
          }
        }
      }
    },
    "/v4/entries/internal": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Create an internal form entry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInternalFormEntryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created internal form entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalFormEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/entries/{entryId}": {
      "delete": {
        "tags": [
          "Forms"
        ],
        "summary": "Delete an entry",
        "parameters": [
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Deleted"
          }
        }
      },
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get an entry",
        "parameters": [
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "preferOriginalVersion",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeDrafts",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "200": {
            "description": "Entry",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AnyFormTypeInitialFormEntryResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AnyFormTypeAdditionalFormEntryResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AnyFormTypeInternalFormEntryResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AnyFormTypeReferenceFormEntryResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AnyFormTypeReviewFormEntryResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AnyFormTypeEligibilityFormEntryResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AnyFormTypeRequestFormEntryResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "formType",
                    "mapping": {
                      "initial": "#/components/schemas/AnyFormTypeInitialFormEntryResponse",
                      "additional": "#/components/schemas/AnyFormTypeAdditionalFormEntryResponse",
                      "internal": "#/components/schemas/AnyFormTypeInternalFormEntryResponse",
                      "reference": "#/components/schemas/AnyFormTypeReferenceFormEntryResponse",
                      "review": "#/components/schemas/AnyFormTypeReviewFormEntryResponse",
                      "eligibility": "#/components/schemas/AnyFormTypeEligibilityFormEntryResponse",
                      "request": "#/components/schemas/AnyFormTypeRequestFormEntryResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Forms"
        ],
        "summary": "Update a form entry",
        "parameters": [
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/UpdateInitialFormEntryOrgRequest"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateAdditionalFormEntryOrgRequest"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateRequestFormEntryOrgRequest"
                  }
                ],
                "discriminator": {
                  "propertyName": "formType",
                  "mapping": {
                    "initial": "#/components/schemas/UpdateInitialFormEntryOrgRequest",
                    "additional": "#/components/schemas/UpdateAdditionalFormEntryOrgRequest",
                    "request": "#/components/schemas/UpdateRequestFormEntryOrgRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "204": {
            "description": "Updated form entry"
          }
        }
      },
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Update a form entry",
        "parameters": [
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/UpdateInternalFormEntryRequest"
                  }
                ],
                "discriminator": {
                  "propertyName": "formType",
                  "mapping": {
                    "internal": "#/components/schemas/UpdateInternalFormEntryRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "200": {
            "description": "Updated form entry",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AnyFormTypeInitialFormEntryResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AnyFormTypeAdditionalFormEntryResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AnyFormTypeInternalFormEntryResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AnyFormTypeReferenceFormEntryResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AnyFormTypeReviewFormEntryResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AnyFormTypeEligibilityFormEntryResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AnyFormTypeRequestFormEntryResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "formType",
                    "mapping": {
                      "initial": "#/components/schemas/AnyFormTypeInitialFormEntryResponse",
                      "additional": "#/components/schemas/AnyFormTypeAdditionalFormEntryResponse",
                      "internal": "#/components/schemas/AnyFormTypeInternalFormEntryResponse",
                      "reference": "#/components/schemas/AnyFormTypeReferenceFormEntryResponse",
                      "review": "#/components/schemas/AnyFormTypeReviewFormEntryResponse",
                      "eligibility": "#/components/schemas/AnyFormTypeEligibilityFormEntryResponse",
                      "request": "#/components/schemas/AnyFormTypeRequestFormEntryResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/forms/{formId}": {
      "delete": {
        "tags": [
          "Forms"
        ],
        "summary": "Delete a form",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Deleted"
          }
        }
      },
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a form",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Entity not found"
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InitialFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AdditionalFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReferenceFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EligibilityFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/InternalFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/RequestFormResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "formType",
                    "mapping": {
                      "initial": "#/components/schemas/InitialFormResponse",
                      "additional": "#/components/schemas/AdditionalFormResponse",
                      "reference": "#/components/schemas/ReferenceFormResponse",
                      "review": "#/components/schemas/ReviewFormResponse",
                      "eligibility": "#/components/schemas/EligibilityFormResponse",
                      "internal": "#/components/schemas/InternalFormResponse",
                      "request": "#/components/schemas/RequestFormResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Update a form",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/InitialFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/AdditionalFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ReferenceFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ReviewFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/InternalFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/EligibilityFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/RequestFormRequest"
                  }
                ],
                "discriminator": {
                  "propertyName": "formType",
                  "mapping": {
                    "initial": "#/components/schemas/InitialFormRequest",
                    "additional": "#/components/schemas/AdditionalFormRequest",
                    "reference": "#/components/schemas/ReferenceFormRequest",
                    "review": "#/components/schemas/ReviewFormRequest",
                    "internal": "#/components/schemas/InternalFormRequest",
                    "eligibility": "#/components/schemas/EligibilityFormRequest",
                    "request": "#/components/schemas/RequestFormRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Entity not found"
          },
          "201": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InitialFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AdditionalFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReferenceFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EligibilityFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/InternalFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/RequestFormResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "formType",
                    "mapping": {
                      "initial": "#/components/schemas/InitialFormResponse",
                      "additional": "#/components/schemas/AdditionalFormResponse",
                      "reference": "#/components/schemas/ReferenceFormResponse",
                      "review": "#/components/schemas/ReviewFormResponse",
                      "eligibility": "#/components/schemas/EligibilityFormResponse",
                      "internal": "#/components/schemas/InternalFormResponse",
                      "request": "#/components/schemas/RequestFormResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/reviews/{reviewResponseId}": {
      "delete": {
        "tags": [
          "Forms"
        ],
        "summary": "Delete a review by id",
        "parameters": [
          {
            "name": "reviewResponseId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Successfully deleted review"
          }
        }
      }
    },
    "/v4/entries/reviews/{entryId}": {
      "delete": {
        "tags": [
          "Forms"
        ],
        "summary": "Delete a review entry by id",
        "parameters": [
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Successfully deleted review"
          }
        }
      }
    },
    "/v4/forms/scheduled/{scheduledAdditionalFormId}": {
      "delete": {
        "tags": [
          "Forms"
        ],
        "summary": "Delete scheduled additional form by id",
        "parameters": [
          {
            "name": "scheduledAdditionalFormId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v4/entries/submissions/{submissionId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a submission's entries",
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormEntriesForSubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/entries/{entryId}/files/{fileId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a url to download the uploaded file",
        "parameters": [
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/entries/{entryId}/fields/{fieldId}": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a file upload url",
        "parameters": [
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateResponseFileRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File upload url created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFileResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/entries/submissions/{submissionId}/reviews": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get reviews for a Submission",
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "reviewStageId",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return a list of reviews for a submission",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReviewFormEntryResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/forms/{submissionId}/scheduled": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get scheduled additional forms by submission",
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledAdditionalFormsBySubmissionIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v4/entries/{entryId}/tables/{tableId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a url to download the table",
        "parameters": [
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/entries/forms/{formId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a page of completed form entries",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "continuationToken",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "style": "form",
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a page of completed form responses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContinuationTokenResponse_AnyFormTypeEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/entries/metadata/forms/{formId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a page of form entry metadata",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "continuationToken",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "style": "form",
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "ProjectIds",
            "in": "query",
            "description": "Additional and request form entries only",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "States",
            "in": "query",
            "description": "Additional and request form entries only",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "submitted",
                  "editable"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "SortBy.sort",
            "in": "query",
            "description": "'dateSent', 'status' and 'deadline' only for Additional form entries. 'dateSubmitted' and 'requestFormEntryStatus' only for Request form entries",
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/FormEntrySortField"
            }
          },
          {
            "name": "SortBy.direction",
            "in": "query",
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/FormEntrySortOrder"
            }
          },
          {
            "name": "Statuses",
            "in": "query",
            "description": "Additional form entries only",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "SentDateFrom",
            "in": "query",
            "description": "Additional form entries only",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "SentDateTo",
            "in": "query",
            "description": "Additional form entries only",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DeadlineDateFrom",
            "in": "query",
            "description": "Additional form entries only",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DeadlineDateTo",
            "in": "query",
            "description": "Additional form entries only",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "RequestFormEntryStatuses",
            "in": "query",
            "description": "Request form entries only",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "new",
                  "in_progress",
                  "accepted",
                  "declined",
                  "completed"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "SubmittedDateFrom",
            "in": "query",
            "description": "Request form entries only",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "SubmittedDateTo",
            "in": "query",
            "description": "Request form entries only",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of form entry metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContinuationTokenResponse_AnyFormTypeEntryMetadataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/forms/metadata": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a page of form metadata",
        "description": "The projectId filter only returns initial and additional forms that have received a response.",
        "parameters": [
          {
            "name": "continuationToken",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "style": "form",
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "type",
            "in": "query",
            "style": "form",
            "schema": {
              "enum": [
                "additional",
                "initial",
                "reference",
                "review",
                "internal",
                "eligibility",
                "request"
              ],
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContinuationTokenResponse_FormMetadataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v4/entries/editing/open": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Open entries for editing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEntriesIsOpenForEditingRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/entries/{entryId}/open": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Open editing",
        "parameters": [
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIsOpenForEditingRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/entries/request/filter/editing/open": {
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Open request form entries for editing by filter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequestFormIsOpenForEditingByFilterRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Updated"
          }
        }
      }
    },
    "/v4/entries/additional/rescind": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Rescind additional form requests",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RescindAdditionalFormsRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Rescinded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/entries/message": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Send message to entries",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageToEntriesRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Sent"
          }
        }
      }
    },
    "/v4/entries/request/status": {
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Update status on request form entries",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequestFormEntryStatusRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/entries/reviews/score": {
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Update a review score",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReviewScoreRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "201": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewFormEntryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v4/funds": {
      "post": {
        "tags": [
          "Funds"
        ],
        "summary": "Create a fund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFundRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new fund",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "get": {
        "tags": [
          "Funds"
        ],
        "summary": "Get a page of funds",
        "parameters": [
          {
            "name": "continuationToken",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "style": "form",
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of funds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContinuationTokenResponse_FundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/transactions": {
      "post": {
        "tags": [
          "Funds"
        ],
        "summary": "Create a transaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateAwardedTransactionRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreatePendingTransactionRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateProcessingTransactionRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreatePaidTransactionRequest"
                  }
                ],
                "discriminator": {
                  "propertyName": "transactionStatus",
                  "mapping": {
                    "awarded": "#/components/schemas/CreateAwardedTransactionRequest",
                    "pending": "#/components/schemas/CreatePendingTransactionRequest",
                    "processing": "#/components/schemas/CreateProcessingTransactionRequest",
                    "paid": "#/components/schemas/CreatePaidTransactionRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "get": {
        "tags": [
          "Funds"
        ],
        "summary": "Get a page of transactions",
        "parameters": [
          {
            "name": "continuationToken",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "style": "form",
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "fundId",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "style": "form",
            "schema": {
              "enum": [
                "awarded",
                "paid",
                "processing",
                "cancelled",
                "pending"
              ],
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "submitterId",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "submissionId",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "publicOrganizationId",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContinuationTokenResponse_TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/funds/{fundId}": {
      "delete": {
        "tags": [
          "Funds"
        ],
        "summary": "Delete a fund",
        "parameters": [
          {
            "name": "fundId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Fund deleted."
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "get": {
        "tags": [
          "Funds"
        ],
        "summary": "Get a fund",
        "parameters": [
          {
            "name": "fundId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The fund",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      },
      "put": {
        "tags": [
          "Funds"
        ],
        "summary": "Update a fund",
        "parameters": [
          {
            "name": "fundId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The fund",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/v4/transactions/{transactionId}": {
      "delete": {
        "tags": [
          "Funds"
        ],
        "summary": "Delete a transaction by id",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Successfully deleted transaction"
          }
        }
      },
      "get": {
        "tags": [
          "Funds"
        ],
        "summary": "Get a transaction by id",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "200": {
            "description": "Found transaction by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Funds"
        ],
        "summary": "Update a transaction by id",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "200": {
            "description": "Successfully updated transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v4/transactions/{transactionId}/send": {
      "post": {
        "tags": [
          "Funds"
        ],
        "summary": "Send funds",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendFundsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new processing transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/docusign/placeholders": {
      "post": {
        "tags": [
          "Integrations.DocuSign"
        ],
        "summary": "Create Placeholders in Docusign",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "maxItems": 20,
                "minItems": 1,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SyncPlaceholdersRequest"
                }
              }
            },
            "application/json": {
              "schema": {
                "maxItems": 20,
                "minItems": 1,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SyncPlaceholdersRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "maxItems": 20,
                "minItems": 1,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SyncPlaceholdersRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "maxItems": 20,
                "minItems": 1,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SyncPlaceholdersRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Placeholders Created",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SyncPlaceholdersResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SyncPlaceholdersResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SyncPlaceholdersResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/zapier/subscribe": {
      "post": {
        "tags": [
          "Integrations.Zapier"
        ],
        "summary": "Add a Zapier Subscription Entry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZapierSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Zapier Subscription added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v4/zapier/unsubscribe": {
      "post": {
        "tags": [
          "Integrations.Zapier"
        ],
        "summary": "Mark a Zapier Subscription as Deleted",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZapierUnsubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Zapier Subscription Marked as Deleted"
          }
        }
      }
    },
    "/v4/labels": {
      "post": {
        "tags": [
          "Labels"
        ],
        "summary": "Create a label",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLabelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new label",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "get": {
        "tags": [
          "Labels"
        ],
        "summary": "Get a page of labels",
        "parameters": [
          {
            "name": "continuationToken",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "style": "form",
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of labels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContinuationTokenResponse_LabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/labels/{labelId}": {
      "delete": {
        "tags": [
          "Labels"
        ],
        "summary": "Delete a label",
        "parameters": [
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Label deleted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "get": {
        "tags": [
          "Labels"
        ],
        "summary": "Get a label",
        "parameters": [
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The label",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      },
      "put": {
        "tags": [
          "Labels"
        ],
        "summary": "Update a label",
        "parameters": [
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLabelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The label",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/v4/labels/metadata": {
      "get": {
        "tags": [
          "Labels"
        ],
        "summary": "Get Label MetaData",
        "responses": {
          "200": {
            "description": "Label metadata"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/labels/list": {
      "post": {
        "tags": [
          "Labels"
        ],
        "summary": "Get a list of labels",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLabelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of labels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LabelResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/labels/remove/{labelId}": {
      "delete": {
        "tags": [
          "Labels"
        ],
        "summary": "Remove a label from Submissions",
        "parameters": [
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Label removed"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/messages/placeholders": {
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Create a new Custom Placeholder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomPlaceholderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceholderResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Get a list of placeholders",
        "parameters": [
          {
            "name": "continuationToken",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "style": "form",
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "Search",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IncludeDisabled",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IncludeStandard",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SortBy.Field",
            "in": "query",
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/PlaceholderSortField"
            }
          },
          {
            "name": "SortBy.Order",
            "in": "query",
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/PlaceholderSortOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContinuationTokenResponse_PlaceholderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v4/messages/responses/templates": {
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Create or update a response template",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateResponseTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "CreateResponseTemplateResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponseTemplateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v4/messages/{messageId}/attachments": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Get the file attachments associated with a messageId",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageAttachmentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v4/messages/placeholders/{placeholderId}": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Get a placeholder by id",
        "parameters": [
          {
            "name": "placeholderId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceholderResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Messaging"
        ],
        "summary": "Update a custom placeholder and any of its mappings",
        "parameters": [
          {
            "name": "placeholderId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomPlaceholderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceholderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v4/messages/placeholders/forms/{formId}": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Get a placeholder by id",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlaceholderResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/v4/organizations/team": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Add Team Members to Organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTeamMembersRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Add team members to an Organization"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "delete": {
        "tags": [
          "Organizations"
        ],
        "summary": "Remove Team Members from an Organization",
        "parameters": [
          {
            "name": "userId[]",
            "in": "query",
            "style": "form",
            "schema": {
              "maxItems": 500,
              "minItems": 1,
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Remove team members from an Organization"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get team members",
        "responses": {
          "200": {
            "description": "List of team members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTeamMembersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "patch": {
        "tags": [
          "Organizations"
        ],
        "summary": "Updates Team Members",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeamMembersRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Update team members to an Organization"
          }
        }
      }
    },
    "/v4/organizations/billing": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Create billing information for organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationBillingInfoRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created Billing Information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationBillingInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get billing information for organization",
        "responses": {
          "200": {
            "description": "Billing information for organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrganizationBillingInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "put": {
        "tags": [
          "Organizations"
        ],
        "summary": "Update billing information for organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationBillingInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Billing Information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationBillingInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
[...]
